input, label {
    display:block;
}

.container{
    display: flex;
    justify-content: space-between;
}

.clear_button, .submit_button{
    display: flex;
    flex-direction: column;
}

.user_input {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    flex-direction: column;
}